.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  min-width: 300px;
  border: 5px solid black;
}

.time {
  font-size: 5em;
  text-align: center;
}
