.headerContainer {
  height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: aquamarine;
  & > img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  * {
    margin: 15px;
  }
}
